body{
    box-sizing: border-box;
    z-index: -1;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}
body a, body i, body button{
    cursor: pointer;
}
.container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "top"
    "mid"
    "but";
}
header{
    grid-area: top;
    display: flex;
    flex-direction: column;
}
main{
    grid-area: mid;
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-top: auto;
}
footer{
    grid-area: but;
}
nav{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    color: aliceblue;
    background-image: url(./img/nav-im.jpg);
    background-size: cover;
    transition: top 0.3s;

}
.nav-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: row;
    width: 80vw;
    text-transform: uppercase;
    color: rgb(199, 199, 245);
}
.logo i{
    cursor: none;
}
#show-nav{
    font-size: 1.8em;
    padding-top: 20px;
}
.nav-list{
    display: none;
    flex-direction: column;
    line-height: 30px;
}
.nav-list li{
    list-style: none;
}
.nav-list a{
    text-decoration: none;
    font-family: inherit;
    /*text-transform: uppercase;*/
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: 700;
    color: white;  
}
.nav-list a.newColor{
    color: green;
}
.nav-list a:hover{
    color: rgb(197, 66, 14);
}
.nav-list.visible{
    display: flex;
}
.disc-innr{
    width: 100vw;
    margin-top: 2rem;
    padding-top: 2rem;
    background-color: rgba(243, 239, 239, 0.74);
    text-align: center;
    text-transform: capitalize;
    transform: scale(1);
}
.disc-innr.down{
    margin-top:13rem;
}
.cat-innr{
    width: 100vw;
}
.cards-innr{
    display: none;
}
.cards-innr.visible{
    display: flex;
    flex-direction: column;
}
.replacer{
    display: none;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 98vw;
    height: auto;
    margin-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
}
.lat-innr{
    width: 100vw;
   text-align: center;
   text-transform: capitalize;
   background-color: rgba(236, 13, 58, 0.089);
}
.circl-innr{
    display: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}
.circl-innr.visible{
    display: grid;
}
.circl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;  
    padding-bottom: 30px;  
}
.circl a{
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
}
.for-fa{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.116);
    box-shadow: 0px 0px 6px 0px rgba(121, 119, 119, 0.521);    
}

.for-fa .fas, .for-fa .fab, .for-fa .far{
    padding-top: 20%;
}
.cat-innr{
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(132, 235, 235, 0.178);
}
.cat-innr video{
    width: 96vw;
    height: 250px;
}
.shp-innr{
    width: 100vw;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(204, 248, 10, 0.062);
}
.shp-main{
    display: none;
}
.shp-main.visible{
    display: block;
}
.sign-need{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.sign-need img{
    width: 95%;
    margin: 5px;
}
.sign-need a{
    text-decoration: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.sign-butt button{
    padding: 10px;
    margin: 5px;
}
.crid-crds{
    margin-top: 15px;
}
/******to-edit*/
footer{
    align-self: end;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    margin: 0px;
    padding: 0px;
    padding-bottom: 20px;
    background-color: rgb(44, 43, 43);
    color: white;
}
footer a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: color 0.2s;
}
footer a:hover{
    color: rgb(255, 145, 0);
}
#direct i{
    margin: 10px;
}
.refer-link{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.refer-link ul{
    list-style: none;
    margin-bottom: 10px;
    line-height: 30px;
    padding-left: 0px;
    -webkit-padding-start: 0;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.med-link{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}
.med-link i{
    padding: 5px;
    cursor: pointer;

}
.fa-facebook:hover{
    color: rgb(63, 63, 190);
}
.fa-instagram:hover{ 
    color: #bc1888;   
}
.fa-twitter:hover{
    color: rgb(104, 104, 230);
}
.fa-youtube:hover{
    color: rgb(223, 18, 46);
}
.fa-google-plus-g:hover{
    color: rgb(190, 72, 63);
}
.fa-snapchat-ghost:hover{
    color: rgb(190, 188, 63);
}
.rights{
    text-align: center;
}
.rights p{
    font-size: 14px;
    letter-spacing: 1px;
}
.rights p::first-letter, .rights p a{
    text-transform: capitalize;
}
/*481px — 768px: iPads, Tablets*/
@media  screen and (min-width: 481px) {
   
    .nav-list li{
        padding: 5px 20px 5px 20px;
        margin: 5px;
        
    }
    .nav-list li a{
        font-size: 1.2em;
        
    }
}
@media  screen and (min-width: 600px) {
    #imm-1{
        display: none;
    }
    .replacer{
        display: flex;
        flex-direction: column;
        
        
    }
    .replacer img{
        width: 80vw;
        align-self: center;
    }

}
/*769px — 1024px: Small screens, laptops*/
@media  screen and (min-width: 769px) {
    .logo{
        font-size: 1.5em;
    }
    #show-nav{
        display: none;
    }
    .nav-list{
        flex-direction: row;
        justify-content: left;
    }
    .nav-list li a{
        padding: 0px 10px 0px 10px;
        margin: 0px 10px 0px 10px;   
        font-size: 1.4em; 
    }
    .cards-innr.visible{
        flex-direction: row;
        
    }
    .card{
        width: 24vw;
        
        margin: 0;
        padding: 0;
    }
    .card img{
        height: 200px;
    }



    
    .contact{
        padding-bottom: 10px;
    }
    .contact h1{
        font-size: 1.5em;
    }
    .contact p{
        font-size: 1.1em;
        letter-spacing: 2px;
    }
    .refer-link{
        flex-direction: row;
        justify-content: space-between;
    }
    #tel-pre, #eemail{
        height: 18px;
    }
    .refer-link ul{
        padding-left: 20px;
        padding-right: 60px;
    }   
}
/*1025px — 1200px: Desktops, large screens*/
@media only screen and (min-width: 1025px){
    
}
@media only screen and (min-width: 1200px){
    
    
}


