body{
    box-sizing: border-box;
    z-index: -1;
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 16px;
    margin: 0;
}
.container{
    display: grid;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "top"
    "mid"
    "but";
}
header{
    grid-area: top;
    display: flex;
    flex-direction: column;
}
main{
    grid-area: mid;
    display: grid;
    justify-content: center;
    justify-items: center;
}
footer{
    grid-area: but;
}
.nav-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: row;
    width: 80vw;
    color: darkblue;
    text-transform: uppercase;
}
#show-nav{
    font-size: 1.8em;
    padding-top: 20px;
}
.nav-list{
    display: none;
    flex-direction: column;
    line-height: 30px;
}
.nav-list a{
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 400;
}
.nav-list.visible{
    display: flex;
}
.disc-innr{
    background-color: rgba(243, 239, 239, 0.74);
    text-align: center;
    text-transform: capitalize;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 98vw;
    height: auto;
    margin-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
}
.lat-innr{
    width: 100vw;
   text-align: center;
   text-transform: capitalize;
   background-color: rgba(236, 13, 58, 0.089);
}
.circl-innr{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33.33% 33.33% 33.33%;
}
.circl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;  
    padding-bottom: 30px;  
}
.circl a{
    text-decoration: none;
    text-transform: uppercase;
    padding-top: 10px;
}
.for-fa{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.116);
    box-shadow: 0px 0px 6px 0px rgba(121, 119, 119, 0.521);    
}

.for-fa .fas, .for-fa .fab, .for-fa .far{
    padding-top: 20%;
}
.cat-innr{
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(132, 235, 235, 0.178);
}
.cat-innr video{
    width: 96vw;
    height: 250px;
}

