body{
    box-sizing: border-box;
    z-index: -1;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    margin: 0;
}
body a, body i, body button{
    cursor: pointer;
}
body i:hover{
    color: rgb(223, 151, 126);
}
.container{
    display: grid;
    width: 100vw;
    grid-template-columns: 100vw;
    grid-template-rows: auto auto 1fr;
    grid-template-areas: 
    "top"
    "mid"
    "but";
}
header{
    grid-area: top;
    width: 100vw;
    height: 72.81px;
    display: flex;
    flex-direction: column;
    margin: 0;   
}
header.grow{
    height: 228.81px;
}
main{
    grid-area: mid;
    width: 100vw;
    display: grid;
    justify-content: center;
    justify-items: center;   
}
footer{
    grid-area: but;
    width: 100vw;
    margin: 0;
}
.section span{
    cursor: pointer;
}
nav{
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 1;
    color: aliceblue;
    background-image: url(./img/nav-im.jpg);
    background-size: cover;
    transition: top 0.3s;
}
.nav-top{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.logo{
    display: flex;
    flex-direction: row;
    width: 80vw;
    text-transform: uppercase;
    color: rgb(199, 199, 245);
}
.logo i{
    cursor: none;
}
#show-nav{
    font-size: 1.8em;
    padding-top: 20px;
}
.nav-list{
    display: none;
    flex-direction: column;
    line-height: 30px;
}
.nav-list li{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.253);
}
.nav-list a{
    text-decoration: none;
    font-family: inherit;
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: 700;
    color: white;  
}
.nav-list a.newColor{
    color: greenyellow;
}
.nav-list a:hover{
    color: rgb(197, 66, 14);
}
.nav-list.visible{
    display: flex;
}
.section.active{
    background: linear-gradient(#e66465, #9198e5);
    color: white;
}
#show-all{
    display: block;
    outline: none;
    width: 60vw;
    height: 30px;
    align-self: center;
}
#show-all.hidn{
    display: none;
}
.sectImg{
    width: 100vw;
    display: block;
}
.colps{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    padding-bottom: 10px;
}
.colps p:last-of-type{
    line-height: 30px;
    text-align: justify;
    padding: 5px;
}
.disc-innr{
    width: 100vw;
    text-align: center;
    text-transform: capitalize;   
    background-color: rgba(195, 112, 233, 0.137); 
}
.disc-rest{
    display: none;
}
.disc-rest.visible{
    display: flex;
    flex-direction: column;
}
.cat-innr{
    width: 100vw;
    background-color: rgba(235, 111, 111, 0.137);
}
.cat-rest{
    display: none;
}
.cat-rest.visible{
    display: flex;
    flex-direction: column;   
}
.replacer{
    display: none;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 98vw;
    height: auto;
    margin-bottom: 15px;
    border-top: 1px solid rgba(0, 0, 0, 0.13);
}
.lat-innr{
    width: 100vw;
   text-align: center;
   text-transform: capitalize;
   background-color: rgba(98, 98, 224, 0.137); 
}
.lat-rest{
    display: none;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;  
}
.lat-rest.visible{
    display: grid;
}
.circl{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;  
    padding-bottom: 30px;  
}
.circl a{
    text-decoration: none;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.26);
    box-shadow: 0px 0px 6px 0px rgba(121, 119, 119, 0.521); 
    border-radius: 5px;
    margin-bottom: 2px;
}
.circl a:hover{
    background-color: green;
    color: white;
}
.cirl-lk{
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
}
.for-fa{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    align-self: center;
    border: 1px solid rgba(0, 0, 0, 0.116);
    box-shadow: 0px 0px 6px 0px rgba(121, 119, 119, 0.521);  
    margin-bottom: 10px;  
}
.for-fa .fas, .for-fa .fab, .for-fa .far{
    padding-top: 20%;
}
.cat-innr{
    text-align: center;
    text-transform: capitalize;   
}
.cat-innr video{
    width: 96vw;
    height: 250px;
}
.shop-innr{
    width: 100vw;
    text-align: center;
    text-transform: capitalize;
    background-color: rgba(57, 199, 99, 0.137);
}
.shop-rest{
    display: none;  
}
.shop-rest.visible{
    display: block;
}
.sign-need{
    display: flex;
    flex-direction: column;
    width: 100vw;
}
.sign-need img{
    width: 95%;
    margin: 5px;
}
.sign-need a{
    text-decoration: none;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.sign-butt{
    margin: 0px;
    display: flex;
    flex-direction: row;
}
.sign-butt a{
    padding: 8px;
    margin: 5px;
    border: 1px solid rgba(0, 0, 0, 0.164);
    box-shadow: 0px 0px 6px 0px rgba(121, 119, 119, 0.521);
}
.crid-crds{
    margin-top: 15px;
    padding: 15px;
}
.myform{
    padding: 15px;
    margin-top: 20px;
}
.myform input{
    padding: 15px;
    font-size: 1.02em;
}
#mini-sec{
    font-size: 1.02em;
}
.text-forrm{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.text-forrm textarea{
    align-self: center;
}
#bot-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 100;
    border: none;
    outline: none;
    color: white;
    background-color: rgb(224, 83, 32);
    padding: 10px;
    font-size: 1.1em;
    transition: background-color 0.3s;
    outline: none;
}
#bot-btn:hover{
    background-color: grey;
}
.contact{
    background-color: rgb(71, 70, 70);
}
footer{
    align-self: end;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    text-align: center;
    padding: 0px;
    padding-bottom: 20px;
    background-color: rgb(44, 43, 43);
    color: white;
}
footer a{
    text-decoration: none;
    cursor: pointer;
    color: inherit;
    transition: color 0.2s;
}
footer a:hover{
    color: rgb(255, 145, 0);
}
#direct i{
    margin: 10px;
}
.refer-link{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.refer-link ul{
    list-style: none;
    margin-bottom: 10px;
    line-height: 30px;
    padding-left: 0px;
    -webkit-padding-start: 0;
    text-transform: capitalize;
    letter-spacing: 2px;
}
.med-link{
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}
.med-link i{
    padding: 5px;
    cursor: pointer;
}
.fa-facebook:hover{
    color: rgb(63, 63, 190);
}
.fa-instagram:hover{ 
    color: #bc1888;   
}
.fa-twitter:hover{
    color: rgb(104, 104, 230);
}
.fa-youtube:hover{
    color: rgb(223, 18, 46);
}
.fa-google-plus-g:hover{
    color: rgb(190, 72, 63);
}
.fa-snapchat-ghost:hover{
    color: rgb(190, 188, 63);
}
.rights{
    text-align: center;
}
.rights p{
    font-size: 14px;
    letter-spacing: 1px;
}
.rights p::first-letter, .rights p a{
    text-transform: capitalize;
}
/*481px — 768px: iPads, Tablets*/
@media  screen and (min-width: 481px) {
    header.grow{
        height: 308.81px;
    }
    .nav-list li{
        padding: 5px 20px 5px 20px;
        margin: 5px;   
    }
    .nav-list li a{
        font-size: 1.2em;  
    }
}
@media  screen and (min-width: 600px) {
    .imm-1{
        display: none;
    }
    .replacer{
        display: flex;
        flex-direction: column;    
    }
    .replacer img{
        width: 80vw;
        align-self: center;
    }
    .replacer p{
        text-align: justify;
        align-self: center;
        width: 65vw;
    }
    .three{
        display: grid;
        grid-template-columns: 33% 33% 33%;
    }
    .card img{
         width: 60vw;
         align-self: center;
    }
    .circl a{
        width: 80%;
        align-self: center;
    }
    .shp-innr img{
        width: 60vw;
        height: 200px;
        align-self: center;
    }
    .shp-innr button{
        font-size: 1.1em;
    }
    #mini-sec{
        font-size: 1.05em;
    }   
}
/*769px — 1024px: Small screens, laptops*/
@media  screen and (min-width: 769px) {
    header.grow{
        height: 191.75px;
    }
    main{
        margin-top:7.4rem;
    }
    .disc-innr{
        padding-top: 30px;
    }
    .colps-1,.colps-2,.colps-3,.colps-4{
        border: 1px solid rgba(165, 162, 162, 0.219);
        box-shadow: 0px 0px 6px 0px rgba(136, 134, 134, 0.521);  
        width: 40vw;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
    }
    .colps-1{
        background-color: rgba(235, 111, 111, 0.205);
        margin-left: 5%;
    }
    .colps-2{
        background-color: rgba(98, 98, 224, 0.212);
        margin-left: 50%;
    }
    .colps-3{
        background-color: rgba(195, 112, 233, 0.212);
        margin-left: 5%;
    }.colps-4{
        background-color: rgba(57, 199, 99, 0.212);
        margin-left: 50%;
    }
    .logo{
        font-size: 1.5em;
    }
    #show-nav{
        display: none;
    }
    .nav-list{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .nav-list li a{
        padding: 0px 6px 0px 6px;
        margin: 0px 10px 0px 10px;   
        font-size: 1.2em; 
    }
    .shp-innr img{
        height: 300px;
    }
    .contact{
        padding-bottom: 10px;
    }
    .contact h1{
        font-size: 1.5em;
    }
    .contact p{
        font-size: 1.1em;
        letter-spacing: 2px;
    }
    .refer-link{
        flex-direction: row;
        justify-content: space-between;
    }
    #tel-pre, #eemail{
        height: 18px;
    }
    .refer-link ul{
        padding-left: 20px;
        padding-right: 60px;
    }   
}
/*1025px — 1200px: Desktops, large screens*/
@media only screen and (min-width: 1025px){
    .nav-list li{
        margin-left: 20px;
        margin-right: 20px;
    }
    .circl a{
        width: 50%;
        align-self: center;
    }
}
@media only screen and (min-width: 1200px){
    body p{
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 40px;
    }
    body h1{
        letter-spacing: 5px;    
    }
    body h2{
        letter-spacing: 2px;
    }
    .nav-list li{
        margin-left: 30px;
        margin-right: 20px;
    }
    .shp-innr img{
        height: 350px;
    }
    .shp-innr h4{
        font-size: 1.2em;
    }
    .crid-crds{
        font-size: 1.4em;
    }
    .contact{
        text-align: left;
        padding-left: 60px;
    }
    .contact p{
        line-height: 10px;
        padding: 10px;
        margin: 5px;
    }  
}


